@model CourseDataManagement.Models.ExternalModeration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExternalModeration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfExternalModerator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfExternalModerator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePassedToExternalModerator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePassedToExternalModerator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfExternalmoderatorReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfExternalmoderatorReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfResponseToReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfResponseToReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NextDueDateForExternalModeration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NextDueDateForExternalModeration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendEmailNotificationTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendEmailNotificationTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
