@model IEnumerable<CourseDataManagement.Models.ExternalModeration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfExternalModerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePassedToExternalModerator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfExternalmoderatorReport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfResponseToReport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextDueDateForExternalModeration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendEmailNotificationTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfExternalModerator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePassedToExternalModerator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfExternalmoderatorReport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfResponseToReport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextDueDateForExternalModeration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendEmailNotificationTo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
